<%- include('partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="post" >
    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="postTitle" name="postTitle" >
      </div>
    <div class="mb-3 form-floating" style="margin-top: 10px;">
          <label for="postDesc" class="form-label">Post</label>
        <textarea class="form-control" id="postDesc" name="postDesc" style="height: 100px; margin-bottom:10px;"></textarea>
      </div>
    <button type="submit" name="submitBtn" class="btn btn-primary">Publish</button>
</form>

<%- include('partials/footer'); -%>